.board {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    background-color: rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 400px;
    overflow: hidden;
    box-sizing: border-box;
    transition: 0.2s ease;
}

.board:hover {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.02);
}

.img-container {
    flex: 1 1 60%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.img-container img {
    max-height: 100%;
    max-width: 100%;
    object-fit: contain;
    display: block;
}

.info {
    flex: 0 1 auto;
    padding: 10px 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 4px;
}

.info h3,
.info p {
    margin: 4px 0;
}

.buttons {
    flex: 0 1 auto;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.option {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    min-width: 80px;
    border-radius: 10px;
    cursor: pointer;
    color:white;
}
