/* make phone friendly */
.container {
    position: absolute;
    top: 500px;
    left: 0px;
    width: 100vw;
    margin-top: 30px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: row wrap;
    gap: 20px;
    position: relative;
} 

.item {
    display: flex;
    width: 10%;
    height: 50%;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    background-color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    border-radius: 0;
    color: var(--text)
}

.item:hover {
    transform: translateY(-4px);
    color: var(--secondary)
}

.item::after {
    content: '';
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 2px;
    background-color: var(--primary);
    transition: width 0.3s ease;
}

.item:hover::after {
    width: 80%;
}


.new-container {
    position: absolute;
    top: 650px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    z-index: 2;
} 

.new-item {
    display: flex;
    padding: 2rem 4rem;
    border-radius: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    cursor: pointer;
    transition: all 0.3s ease;
    border: none;
    box-shadow: 0 4px 15px rgba(79, 150, 156, 0.3);
    color:white;
}

.new-item:hover {
    background: var(--primary);
    transform: translateY(-2px);
    box-shadow: 0 6px 20px rgba(33, 88, 131, 0.4);
}



@media screen and (max-width : 800px) and (min-width: 601px) {
    .item {
        width: 15%;
    }
}

@media screen and (max-width: 600px) {
    .new-container {
        top:710px;
    }
    .item {
        width: 20%;
    }
}